*{
  margin:0px;
  padding:0px;
}


.ptext{
  position: absolute;
  top: 60%;
  left: 80px;
}
.showcase h1{
  font-size:30px;
  color: #fff;
  font-family: "Tempus Sans ITC";
  font-weight: bold;
  margin-bottom: 30px;
}
.showcase h2{
  font-size: 30px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  width: 30ch;
  color:#88e5f0;
  font-family: consolas;
  animation: typist 22s steps(7) infinite, blink step-end 1s infinite;
}
@keyframes typist{
  0%{width: 0ch;}
  47%{width: 7ch;}
  70%{width: 7ch;}
  75%{width: 0ch;}
  100%{ width: 0ch;}
}
@keyframes blink{
  from, to{border-color: transparent;}
  50%{border-color: black;}
}
